@import url('style-login.css');

body{

    background-image: linear-gradient(
        rgba(160, 23, 23, 0.267), 
        rgba(255, 0, 0, 0.336)), 
        url("../images/diego.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}


.header-principal{

    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    align-self: flex-start;
    background-color: rgba(63, 31, 31, 0.753);
    z-index: 1;
    padding: 1em;
}

.info-usuario{

    
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 3, 3, 0.699);
    border-radius: .3em;
    color: aliceblue;
    
   
    
}



.info-torneo span:nth-child(odd){

    color: rgb(254, 195, 16);


}


.info-nombre, .info-torneo{
    display: flex;
    flex-direction: row;
    margin: .4em;
    
}

.info-nombre span, .info-torneo  span {

    padding: .1em;
}

.container-principal{

    display: grid;
    place-items: center;
    height: 100vh;
    

}

.cont-opciones{

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    width: 80%;
    
    
    
    
}

.cont-opciones button{
    
    
    border-radius: 8px;
    border: 2px solid rgba(185, 180, 180, 0.795);
    border-radius: 8px;
    cursor: pointer;
    position:relative;
    padding: 3em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .1s ease-in;
    
    


}



button:hover p{

    opacity: 1;
    
}

.titulo-boton{

    width: 100%;
    height: 100%;
    background-color: #635e5d7e;
    color: white;
    border: .2em solid black;
    padding: .5rem;
    border-radius: .6em;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    font-weight: bolder;
    font-size: clamp(12px,2vw,30px);
    
    
    
}

.tit-principal{

    
    font-size: clamp(16px,4vw,25px);
    font-weight: bolder;
    background-color: rgb(254, 195, 16);
    padding: .5em;
    border-radius: .3em;
    width: 100%;
    letter-spacing: .2em;
    
    
    
}

.cont-opciones button:nth-child(1){

    background-image: url("../images/messi.jpg");
   
}

.cont-opciones button:nth-child(2){

    background-image: url("../images/maradona-mano.jpg");
   
}

.cont-opciones button:nth-child(3){

    background-image: url("../images/copaamerica.jpg");
   
}

  
